# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask==1.1.1
gunicorn==20.0.4
keras==2.2.5
numpy==1.17.2
pandas==0.25
tensorflow==1.15.0
pillow==6.2.1
flask-cors==3.0.10